.jumbotron {
  padding: 2rem 1rem;
}
.baqi {
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.carousel-item {
  background-color: white;
}
section {
  padding-top: 3rem;
}
.text-about {
  text-align: justify;
}
.co {
  font-weight: bold;
  color: white;
}
.work-desc {
  color: white;
}
